{% extends 'base.html' %}
{% load static %}

{% block title %}About SAFENET.AI{% endblock %}

{% block content %}


<div class="container">
    <div class="card">
        <div class="card-header">
            <h3 class="Header_title">Edit team Information</h3>
        </div>
        {% if sucess_text %}
        <div class="alert alert-success" role="alert">
            {{ sucess_text }}
        </div>
        {% endif %}

        <div class="card-body">
            <form enctype="multipart/form-data" method="POST">
                {{ edit_form.as_p }}
                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                        var inputs = document.querySelectorAll("input");
                        inputs.forEach(function (input) {
                            input.classList.add("form-control");
                            input.setAttribute("placeholder", "Enter " + input.name);
                        });

                        var checkboxes = document.querySelectorAll("input[type='checkbox']");
                        checkboxes.forEach(function (checkbox) {
                            checkbox.classList.remove("form-control");
                        });
                    });
                </script>
                {% csrf_token %}
                <div class="d-flex justify-content-center" style="align-items: center; width: 100%;">
                    <button type="submit" class="btn btn-primary" style="width: 50%;">Update</button><br>
                </div>
          
                <div class="d-flex justify-content-end mt-2">
                    <a href="{% url 'About:delete_info' member_id=member_id %}" class="btn btn-danger"
                        onclick="return confirm('Delete This Member')">Delete</a>
                </div>
           
            </form><br>
        </div>
        {% csrf_token %}

        </form><br>

    </div>
 
</div>
</div>

{% endblock %}