{% extends 'base.html' %}
{% load static %}

{% block title %}Researchers recommend SAFENET.AI{% endblock %}

{% block content %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .research-details {
            margin-top: 20px;
        }
        .research-name {
            font-weight: bold;
            color: #2c3e50;
        }
        .details {
            background-color: #f8f9fa;
            padding: 15px;
            border-radius: 5px;
            margin-bottom: 10px;
            width: 80%;
            height: 200px;
        }
    </style>
</head>
<body>
  

    <div class="container research-details">
        <h3 class="research-name">Researcher Name: {{researchers_info.first_Name}}</h3>

        <h3>Details</h3>

        {% for details in researcher_recommend_details %}
        <div class="details">
            {{details.Details}}
        </div>
        {% endfor %}
    </div>

  
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
{% endblock %}